body {
background-color:#fff;
background-repeat:no-repeat;
background-position:center;
background-size:cover;
font: bold 18px/25px Arial, sans-serif;

}
h1 {
font: bold 40px Arial, sans-serif;
background-color:#000;
color:white;
}

button {
 display: block;
 position: absolute;
 margin: 40px 610px;
 padding: 0 10px;
 text-align: center;
 text-decoration: none;
 width: 130px;
 height: 40px;
 font: bold 18px/25px Arial, sans-serif;
 color: black;

 text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 -webkit-border-radius: 30px;
 -moz-border-radius: 30px;
 border-radius: 30px;
-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255,
.44);
-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 -webkit-transition: all 0.15s ease;
 -moz-transition: all 0.15s ease;
 -o-transition: all 0.15s ease;
 -ms-transition: all 0.15s ease;
 transition: all 0.15s ease;
 }

 input[type="range"] {
 display: block;
 width: 160px;
 height: 45px;
 }

 #gpio4.LOW {
 background-color: White;
 color: Black;
 }
 #gpio4.HIGH {
 background-color: Black;
 color: LightGray;
 }
 <html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <meta name="mobile-web-app-capable" content="yes">
 <meta name="viewport" content = "height = device-height, width = device-width,
user-scalable = no" />
 <title>Smart Home</title>
 <script type="text/javascript" src="/webiopi.js"></script>
 <script type="text/javascript" src="/scripts/smarthome.js"></script>
 <link rel="stylesheet" type="text/css" href="/styles/smarthome.css">
 <link rel="shortcut icon" sizes="196x196" href="/img/roomlighton.jpeg" />
</head>
<body>
<h1 align=center>Web Based Controlled Home Automation using Raspberry Pi </h1>
<div id="content" align="center"></div>
<center><img src="/img/roomlighton.jpeg" height="500px" width="800px"
id='pic1' /></center>
</body>
</html>